.login-page {
  background-color: #000000;
  min-height: 100vh;
}

.login-card {
  background-color: #080808 !important;
  border: 1px solid #1a1a1a !important;
  border-radius: 24px !important;
}

.login-title {
  color: #ffffff;
  font-weight: 800;
}

.login-label {
  color: #666;
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.login-input {
  background-color: #000 !important;
  border: 1px solid #222 !important;
  color: #fff !important;
  padding: 12px !important;
}

.btn-login {
  background-color: #ffffff !important;
  color: #000 !important;
  border: none !important;
  font-weight: 800 !important;
  padding: 14px !important;
}

.register-redirect-box {
  border-top: 1px solid #1a1a1a;
  margin-top: 10px;
}

.text-cyan {
  color: #00B4FF;
  transition: 0.3s;
}

.text-cyan:hover {
  color: #00d2ff;
  text-shadow: 0 0 10px rgba(0, 180, 255, 0.4);
}